<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action='' method = "POST">
  <p>name <input type = "text" name = "name" value="{{position.name}}"/></p>
  <p>average_salary <input type = "integer" name = "average_salary"  value="{{position.average_salary}}"/></p>
  <p>requirements <input type = "text" name = "requirements" value="{{position.requirements}}"/></p>
  <p><input type = "submit" value = "Submit" /></p>
</form>
</body>
</html>